body{
    height: 95vh;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat Subrayada;
}

h1{
    color: #080d0d;
}